[submodule "Lobby"]
	path = Lobby
	url = https://github.com/MCPfannkuchenYT/AdvancedLobby.git
[submodule "zNPC"]
	path = zNPC
	url = https://github.com/MCPfannkuchenYT/znpc-servers
[submodule "Proxyserver"]
	path = Proxyserver
	url = https://github.com/MCPfannkuchenYT/Waterfall
[submodule "Server"]
	path = Server
	url = https://github.com/MCPfannkuchenYT/SlowPaper.git
