# Gradle
**/.gradle
**/build

# Eclipse
**/bin
**/.settings
**/.classpath
**/.project

# IntelliJ
**/.idea/
**/out/

# Minecraft
**/run

# Fabric Files
**/*.launch

# Custom Files
Private.java
Server/patched_1.17.1.jar
bot.properties
